.headerBlock__container {
  width: 465px;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 24px 16px 24px;
  margin: 0px;
  background: rgb(255, 255, 255);
}
.header__title {
  color: rgba(0, 0, 0, 0.85);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

@media (max-width: 1450px) {
  .headerBlock__container {
    width: 250px;
  }
}

@media (max-width: 1450px) {
  .headerBlock__container {
    padding: 8px;
  }
}
