.cardTitle__container {
  position: static;
  width: 226.17px;
  height: 354px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 24px 16px 24px;
  margin: 0px 0px;
  box-shadow: inset 0px -1px 0px 0px rgb(240, 240, 240);
  background: rgb(255, 255, 255);
}
.cardTitile__text {
  width: 226.17px;
  height: 60px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 24px 16px 24px;

  margin: 0px 0px;
  color: rgba(0, 0, 0, 0.85);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}
.cardTitile__img {
  width: 226.17px;
  height: 294px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  margin: 0px 0px;
}
