.input__container {
  position: relative;
  width: 417px;
  height: 198px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  margin: 24px 0;
}

.input__btn {
  right: 0;
  width: 151px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  margin: 0;
  color: rgb(24, 144, 255);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
}

@media (max-width: 1900px) {
  .input__container {
    width: auto;
    align-items: center;
  }
  .input__btn {
    margin: 6px 0;
  }
}
