.block__container {
  width: 465px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1px;
  border-radius: 2px;
}

@media (max-width: 1450px) {
  .block__container {
    width: 250px;
  }
}
