.secondPage__conatainer {
  position: relative;
  width: 1920px;
  height: 960px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 12px;
}

.spinner__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, -50%);
  z-index: 1;
}

@media (max-width: 1900px) {
  .secondPage__conatainer {
    max-width: 1500px;
    min-height: 1550px;
    align-items: center;
  }
}

@media (max-width: 1450px) {
  .secondPage__conatainer {
    max-width: 1100px;
    min-height: 1550px;
    align-items: center;
  }
}

@media (max-width: 1150px) {
  .secondPage__conatainer {
    max-width: 850px;
    align-items: center;
  }
}

@media (max-width: 950px) {
  .secondPage__conatainer {
    max-width: 600px;
    min-height: 2000px;
  }
}

@media (max-width: 950px) {
  .secondPage__conatainer {
    max-width: 330px;
    min-height: 2000px;
  }
}
