.imageBlock__conatiner {
  width: 942px;
  height: 852px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 12px;
  margin: 0px 12px;
  background: rgba(255, 255, 255, 0.5);
}
.img__wrapper {
  width: 918px;
  height: 760px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  margin: 12px 0px;
}

.imageBlock__img {
  width: 918px;
  height: 760px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  margin: 12px 0px;
  object-fit: cover;
}

.pagination__wrapper {
  width: 918px;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.arrow__conatiner {
  position: static;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0px 8px;
  position: relative;
  gap: 20px;
}

.arrow__wrapper {
  width: 32px;
  height: 32px;
  margin: 0px 0px;
  padding: 0;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 2px;
  background: rgb(255, 255, 255);
  cursor: pointer;
}
.arrow__wrapper:active {
  background-color: rgba(128, 128, 128, 0.145);
}

.arrow {
  color: black;
  width: 12px;
  height: 12px;
}

.arrow__wrapper[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
