.imageBlock__conatiner {
  width: 942px;
  height: 852px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 12px;
  background: rgba(255, 255, 255, 0.5);
}
.img__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  margin: 0 0 16px 0;
}

.imageBlock__img {
  width: 918px;
  height: 760px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  object-fit: cover;
}

.pagination__wrapper {
  width: 918px;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.arrow__conatiner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0px 8px;
  position: relative;
  gap: 20px;
}

.arrow__wrapper {
  width: 32px;
  height: 32px;
  margin: 0px 0px;
  padding: 0;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 2px;
  background: rgb(255, 255, 255);
  cursor: pointer;
}
.arrow__wrapper:active {
  background-color: rgba(128, 128, 128, 0.145);
}

.arrow {
  color: black;
  width: 12px;
  height: 12px;
}

.arrow__wrapper[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (max-width: 1450px) {
  .imageBlock__img {
    width: 650px;
    height: 650px;
  }
  .imageBlock__conatiner {
    width: 700px;
    height: 700px;
    align-items: center;
    gap: 20px;
  }
}

@media (max-width: 1150px) {
  .imageBlock__img {
    width: 400px;
    height: 400px;
  }
  .imageBlock__conatiner {
    width: 425px;
    height: 425px;
    align-items: center;
    gap: 0;
  }
}

@media (max-width: 950px) {
  .pagination__wrapper {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .imageBlock__img {
    width: 250px;
    height: 250px;
  }
  .imageBlock__conatiner {
    width: 275px;
    height: 275px;
    align-items: center;
  }
}
