.imageBlock__conatiner {
  width: 942px;
  height: 852px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 12px;
  background: rgba(255, 255, 255, 0.5);
}
.img__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  margin: 0 0 16px 0;
}

.imageBlock__img {
  width: 918px;
  height: 760px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  object-fit: cover;
}

@media (max-width: 1450px) {
  .imageBlock__img {
    width: 650px;
    height: 650px;
  }
  .imageBlock__conatiner {
    width: 700px;
    height: 700px;
    align-items: center;
    gap: 20px;
  }
}

@media (max-width: 1150px) {
  .imageBlock__img {
    width: 400px;
    height: 400px;
  }
  .imageBlock__conatiner {
    width: 425px;
    height: 425px;
    align-items: center;
    gap: 0;
  }
}

@media (max-width: 500px) {
  .imageBlock__img {
    width: 250px;
    height: 250px;
  }
  .imageBlock__conatiner {
    width: 275px;
    height: 275px;
    align-items: center;
  }
}
