.App {
  /* Frame 1 */
  position: relative;
  width: 1920px;
  height: 960px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 12px;
  background: rgb(239, 239, 239);
}
