.filterArea__container {
  width: 465px;
  max-height: 852px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  background: rgb(255, 255, 255);
  margin: 12px 0;
}

@media (max-width: 1900px) {
  .filterArea__container {
    width: 350px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
