.card__container {
  width: 452.33px;
  height: 354px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  margin: 6px;
  background-color: white;
}
@media (max-width: 1900px) {
  .card__container {
    width: 330px;
  }
}
@media (max-width: 1300px) {
  .card__container {
    width: 310px;
  }
}
@media (max-width: 1000px) {
  .card__container {
    width: 100%;
  }
}
